<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{{ keywords }}">
        <meta name="description" content="{{ description }}">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&amp;display=swap" media="all"
            onload="this.media='all'">
        <link rel="stylesheet" href="/style/bundle.css">
        <link rel="stylesheet" href="/style/markdown.css">
        <title>{{ title }} - Anand's Blog</title>
    </head>
    <body>
        <header class="header">
            <nav>
                <p class="title">Anand's Blog</p>
                <ul class="navlist">
                    <li><a href="/">主页</a></li>
                    <li><a href="/posts">文章</a></li>
                    <li><a href="/about">关于我</a></li>
                </ul>
            </nav>
            <div class="mobile-btn">
                <div class="line"></div>
            </div>
        </header>
        <main class="container">
            <div id="markdown">{{ content }}</div>
        </main>
        <footer class="footer">
            <a href="http://beian.miit.gov.cn/">蜀ICP备20003489号</a>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51018102000120">
                <img class="beian" src="/images/beian.png" alt="公安备案图标">
                <span>川公网安备51018102000120号</span>
            </a>
        </footer>
        <script>
            const mobileBtn = document.querySelector('.mobile-btn')
            const headerElem = document.querySelector('.header')
            mobileBtn.onclick = function () {
                headerElem.classList.toggle('close')
            }
        </script>
    </body>
</html>
