{{extend './layout.html'}}

{{block 'metainfo'}}
<meta name="keywords" content="关于我,关于anand,了解anandzhang">
<meta name="description" content="简单介绍下anandzhang">
{{/block}}

{{block 'title'}}关于我 - Anand's Blog{{/block}}

{{block 'links'}}{{/block}}

{{block 'main-class'}}about{{/block}}

{{block 'content'}}
<h1>关于我</h1>
<div class="paragraph">
  <p>你好，我是 Anand Zhang，一名爱折腾的前端开发者，一名普通本科大学的学生。</p>
  <p>
    互联网真的拉开了人与人之间的差距，手机上看不完的某乎推荐，刷不完的某平台小视频，读不完的公众号推送，玩不完的某迅游戏，除掉这些，哪还有时间留给学习和生活。如果你是一个缺乏独立思考的人，那么某乎上大佬的随便几笔就能把你挑逗得晕头转向，又或者公众号的一个推文就会让你觉得条条是道。如果你还是一个缺乏自控力的人，那么刷视频能让你忘记时间，玩游戏能让你熬夜坚持。
  </p>
  <p>What's your problem? 我想对你说：你一定要做一个有思想有主见有方向的人，知道自己应该学什么做什么。</p>
  <p>都是成年人了，不满足自己的现状却只知道去抱怨，有什么用吗，你抱怨了，明天也不会有任何改变。你要自己去改变，自己去努力。</p>
  <p>2020年1月25日，我清除了手机所有数据，想要一个新的开始：坚持学习、拒绝游戏、三省吾身、热爱锻炼。一定要坚持下来，最开始的改变是最艰难的。</p>
  <p class="right">2020年1月25日留</p>
</div>
{{/block}}