<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{block 'metainfo'}}
    <meta name="keywords" content="anand,anandzhang,个人博客,前端学习,anand的个人博客">
    <meta name="description" content="Anand的个人博客主要记录个人生活和学习经验。一起折腾，一起学习。">
    {{/block}}
    <title>{{block 'title'}}Anand's Blog{{/block}}</title>
    <link rel="icon" type="image/ico" href="/public/img/favicon.ico">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/common.css">
    {{block 'css'}}
    <link rel="stylesheet" href="/public/css/index.css">
    {{/block}}
  </head>
  <body>
    <div class="nav">
      <div class="container">
        <p class="title">Anand<span class="subtitle">personal blog</span></p>
        <ul class="nav-list">
          <li><a href="/">主页</a></li>
          <li><a href="/posts">文章</a></li>
          <li><a href="/archive">归档</a></li>
          <li><a href="/about">关于我</a></li>
        </ul>
        <p>网站正在建设，还没有进行页面适配，请在PC访问。</p>
        {{block 'links'}}
        <p class="links">友情链接</p>
        <ul class="links">
          <li><a href="https://zyink.top/" target="_blank">Z.ink | 四火</a></li>
          <li><a href="http://diko-y.top/" target="_blank">Diko-y</a></li>
        </ul>
        {{/block}}
      </div>
    </div>
    <div class="main">
      <div class="content" style="position: relative;">
        {{block 'content'}}{{/block}}
        <div style="position: absolute; bottom: 0;">
          <a target="_blank" href="http://beian.miit.gov.cn/">蜀ICP备20003489号 | </a>
          <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51018102000120">
            <img src="/public/img/beian.png">
            <span>川公网安备 51018102000120号</span>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
