{{extend './layout.html'}}

{{block 'metainfo'}}
<meta name="keywords" content="文章,前端学习,anand的博客文章">
<meta name="description" content="Anand写一写文章，一起学习。">
{{/block}}

{{block 'title'}}文章 - Anand's Blog{{/block}}


{{block 'links'}}{{/block}}

{{block 'main-class'}}{{/block}}

{{block 'content'}}
<ul class="posts-list">
  {{each docs}}
  <li>
    <h2><a href="{{$value.requestPath}}">{{$value.title}}</a></h2>
    <p class="time">
      {{if $value.createTime!=$value.updateTime}}更新于{{/if}}
      {{$value.updateTime}}
    </p>
    <p>{{$value.summary}}</p>
  </li>
  {{/each}}
</ul>
<div class="pagination">
  {{if current>1}}
  <a href="/posts?page={{current-1}}">&larr; 最近</a>
  {{/if}}
  <span>{{current}} / {{total}}</span>
  {{if current!=total}}
  <a href="/posts?page={{current+1}}">更早 &rarr;</a>
  {{/if}}
</div>
{{/block}}
