<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anand's Blog | 文章</title>
    <link rel="icon" type="image/ico" href="/public/img/favicon.ico">
    <link rel="stylesheet" href="/public/css/posts.css">
  </head>
  <body>
    <div class="nav">
      <div class="container">
        <h1 class="title">Anand</h1>
        <p class="subtitle">personal blog</p>
        <ul class="nav-list">
          <li><a href="/">主页</a></li>
          <li><a href="/posts">文章</a></li>
          <li><a href="/archive">归档</a></li>
          <li><a href="/about">关于我</a></li>
        </ul>
      </div>
    </div>
    <div class="main">
      <div class="content">
        <ul class="posts-list">
          <li>
            <h2>醉翁亭记 1</h2>
            <p>环滁皆山也。其西南诸峰，林壑尤美，望之蔚然而深秀者，琅琊也。</p>
          </li>
          <li>
            <h2>醉翁亭记 2</h2>
            <p>
              山行六七里，渐闻水声潺潺而泻出于两峰之间者，酿泉也。峰回路转，有亭翼然临于泉上者，醉翁亭也。作亭者谁？山之僧智仙也。名之者谁？太守自谓也。太守与客来饮于此，饮少辄醉，而年又最高，故自号曰醉翁也。
            </p>
          </li>
          <li>
            <h2>醉翁亭记 3</h2>
            <p>
              醉翁之意不在酒，在乎山水之间也。山水之乐，得之心而寓之酒也。
            </p>
          </li>
          <li>
            <h2>醉翁亭记 4</h2>
            <p>
              若夫日出而林霏开，云归而岩穴暝，晦明变化者，山间之朝暮也。野芳发而幽香，佳木秀而繁阴，风霜高洁，水落而石出者，山间之四时也。
            </p>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>