.main.archive .sort.category {
  padding-left: 30px;
  list-style-type: circle;
}

.main.archive .sort.category li {
  margin: 8px 0;
  text-decoration: underline;
}

.main.archive .sort.tag {
  padding-left: 20px;
}

.main.archive .sort.tag li {
  display: inline-block;
  margin: 5px;
  padding: 6px 12px;
  border-radius: 5px;
  background-color: #eee;
}