body {
  font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
  background-color: #fef9f4;
}

/* Header
------------------------------ */

.header {
  display: flex;
  height: 74px;
  line-height: 74px;
  color: #333;
  border-bottom: 1px solid #111;
}

.header .logo {
  font-weight: bold;
}

.nav-list ul {
  display: flex;
  margin-left: 30px;
}

.nav-list ul li {
  margin: 0 16px;
}

.nav-list a {
  transition: .3s;
}

.nav-list a:hover {
  font-weight: bold;
}

.nav-list li.active a {
  font-weight: bold;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #000;
}

/* Footer
------------------------------ */
.footer {
  display: flex;
  justify-content: center;
  padding: 8px 0 10px;
  border-top: 1px solid #333;
  line-height: 20px;
}