.main {
  background-image: url("/public/img/bg.jpg");
  background-position: right bottom;
  background-size: 20%;
  background-repeat: no-repeat;
}

.content p {
  margin: 20px 0;
}

.main p {
  font-size: 22px;
}

.comment {
  color: #c3c3c3;
  font-size: 20px;
}